@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: black;
    color: #00ff00;
    font-family: "Courier New", Courier, monospace;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
  border: 1px solid #00ff00;
}

::-webkit-scrollbar-thumb {
  background: #00ff00;
}

::-webkit-scrollbar-thumb:hover {
  background: #00cc00;
}

